@charset "utf-8";

body{
    background-color: rgba(215, 250, 250, 0.644) ;
    font-family: "HG行書体", "游明朝", serif;
    background-image: url(img/amiba.jpg);
    background-size: cover;
}

table {
    font-size: 25px;
}

caption{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

table, th, td{
    border: double;
    border-collapse: collapse;
    width: 10%px;
}

th, td{
    padding: 10px;
}

th{
    background-color: chartreuse;
}

td{
    background-color: aliceblue;
}

img{
    width: 100px;
    height: 100px;
}